:root {
    --primary-color: #2C3E50; /* Azul oscuro */
    --secondary-color: #3498DB; /* Azul claro */
    --accent-color: #E74C3C; /* Rojo */
    --light-bg: #ECF0F1; /* Gris claro */
    --text-color: #333;
    --white: #FFFFFF;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: var(--text-color);
    background-color: var(--white);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

nav {
    background-color: var(--primary-color);
    padding: 1rem;
}

nav a {
    color: var(--white);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 4rem 2rem;
    text-align: center;
}

header h1 {
    color: var(--white);
}

main {
    padding: 2rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
