<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia - <%= portfolio.name %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('components/navbar') %>
    <h1>Experiencia</h1>
    <%- include('components/footer') %>
</body>
</html>